
#udnblogs_uh_white {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	MARGIN: 0px;
	PADDING-TOP: 10px;
	POSITION: relative;
	font-family: Arial, Helvetica, sans-serif;
}
#blogs_name_uh_white {
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
#blogs_name_uh_white A{
	COLOR: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
}
#udnblogs_uh_white UL {
	MARGIN: 0px 0px 0px 20px;
	COLOR: #FF8000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 150%;
}
#udnblogs_uh_white UL A{	
	COLOR: #0000FF;
	font-family: Arial, Helvetica, sans-serif;
	
	
}

#udnblogs_uh_white A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
#udnblogs_uh_white A:hover {
	TEXT-DECORATION: underline
}
#udnblogs_uh_white .udn_logo_uh_white {
	LIST-STYLE-TYPE: none; TEXT-ALIGN: right
}
#udnblogs_uh_white .udn_logo_uh_white A {
	LIST-STYLE-IMAGE: url(http://act.udn.com/images/logo_small.gif);
	COLOR: #FF8000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
hr {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
}
.note {
	FONT-SIZE: 11px; COLOR: #414141; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}